.App {
    display: flex;
}

.input {
    display: grid;
    flex-shrink: initial;
    flex-direction: column;
    display: -ms-flex;
    display: -webkit-flex;
    margin-left: -2%;
    margin-top: 25%;
    width: 110%;
}

body {
    background-image: url(/src/photo.jpg);
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

@media only screen and (max-width: 844px) {
    body {
        display: flex;
        flex-direction: row;
        display: -ms-flex;
        display: -webkit-flex;
        background-size: 102vh 228vw;
        background-position-x: 51%;
    }
    .all {
        margin-top: 37%;
        margin-left: 10%;
        margin-right: -7%;
    }
    .list {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 700) {
    body {
        display: flex;
        flex-direction: row;
        display: -ms-flex;
        display: -webkit-flex;
        background-size: 152vh 130vw;
        background-position-x: 51%;
    }
    .all {
        margin-left: 20%;
        margin-top: 10%;
        width: 180%;
    }
    .list {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 37px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 590px) {
    body {
        display: flex;
        flex-direction: row;
        display: -ms-flex;
        display: -webkit-flex;
        background-size: 180vh 217vw;
        background-position-x: 25%;
    }
    .all {
        margin-left: -50%;
        margin-top: 3%;
        width: 350%;
        padding: 30%;
    }
    .input {
        flex-shrink: initial;
        flex-direction: column;
        display: -ms-flex;
        display: -webkit-flex;
        margin-left: 18%;
        margin-top: 30%;
        width: 115%;
        display: grid;
        grid-template-columns: repeat(auto-fill, auto);
    }
}
